<div class="vocabulary_containers">
  {{#each vocabularies }}
  <div>
    <div class="word_panel word_panel_en">
      <p class="word_en word_hidden">{{this.en_name}}</p>
    </div>
    <div class="word_panel word_panel_ch">
      <p class="word_ch">
        {{this.ch_name}}
      </p>
    </div>
  </div>
  {{/each}}
</div>

<div class="controll_bar">
  <div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="" type="checkbox">
      <label class="btn btn-primary" for="">選單</label>
    </div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="en_ch_shift" type="checkbox">
      <label class="btn btn-primary btn-en_ch_shift" for="en_ch_shift">中英轉換</label>
    </div>
  </div>
  <div>
    <div class="control_btn_wrapper">
      <button class="btn btn-primary btn-previous">上一個</button>
    </div>
    <div class="control_btn_wrapper">
      <!-- Button trigger modal -->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#noteModal">
        註解
      </button>

    </div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="show_shift" type="checkbox">
      <label class="btn btn-primary btn-show_shift" for="show_shift">顯示 </label>
    </div>
    <div class="control_btn_wrapper">
      <button class="btn btn-primary btn-next">下一個</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{#each vocabularies }}
        <div class="word_note">
          {{this.note}}
        </div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>