<div class="vocabulary_containers">
  <div class="word_panel word_panel_en">
    <p class="word_en word_hidden">hormone</p>
  </div>
  <div class="word_panel word_panel_ch">
    <p class="word_ch">
      noun[C] 荷爾蒙、激素
    </p>
  </div>
</div>


<div class="controll_bar">
  <div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="en_ch_shift" type="checkbox">
      <label class="btn btn-primary" for="en_ch_shift">選單</label>
    </div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="en_ch_shift" type="checkbox">
      <label class="btn btn-primary btn-en_ch_shift" for="en_ch_shift">中英轉換</label>
    </div>
  </div>
  <div>
    <div class="control_btn_wrapper">
      <button class="btn btn-primary">上一個</button>
    </div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="en_ch_shift" type="checkbox">
      <label class="btn btn-primary" for="en_ch_shift">註解</label>
    </div>
    <div class="control_btn_wrapper">
      <input class="display_none" id="show_shift" type="checkbox">
      <label class="btn btn-primary" for="show_shift">顯示 </label>
    </div>
    <div class="control_btn_wrapper">
      <button class="btn btn-primary">下一個</button>
    </div>
  </div>
</div>