body {
  height: 100vh;
}

nav {
  min-height: 80px;
  max-height: 10%;
}

main {
  display: flex;
  justify-content: center;
  height: 90%;
}

section {
  width: 85%;
}

.display_none {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    /* 確認斷點使用，之後刪除 */
    background-color: #fcfcfc;
  }
}